/********** Template CSS **********/
:root {
    --primary: #FFC107;
    --bs-primary: #FFC107;
    --secondary: #E94B3C;
    --light: #F5F8F2;
    --dark: #252C30;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
}

.container-fluid {
    @media (min-width:992px) {
        width: 100%;

        overflow: hidden;

    }
}

.container {
    @media (max-width:992px) {
        width: 100%;
        overflow-x: hidden;
    }
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.fw-medium {
    font-weight: 600;
}

.fw-bold {
    font-weight: 700;
}

.fw-black {
    font-weight: 900;
}

/* Navbar Background - Green */
.bgs {
    background-color: #198754 !important;
}

/*** service start ***/
.service .service-item {
    position: relative;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.service-content::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    bottom: auto;
    background: var(--bs-primary);
    border-radius: 8px;
    transition: 1s;
}

.service-item:hover .service-content::after {
    height: 100%;
    opacity: 1;
}

.service-item .service-content-icon {
    position: relative;
    z-index: 2;
}

.service-item .service-content-icon i,
.service-item .service-content-icon p {
    transition: 1s;
}

.service-item:hover .service-content-icon i {
    color: var(--bs-dark) !important;
}

.service-item:hover .service-content-icon p {
    color: var(--bs-white);
}

.service-item:hover .service-content-icon a.btn-primary {
    background: var(--bs-white);
    color: var(--bs-dark);
}

.service-item .service-content-icon a.btn-primary {
    transition: 1s !important;
}

/*** services End ***/














/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Events Start ***/
.event .tab-class .nav-item a.active {
    background: var(--bs-primary) !important;
    color: var(--dark) !important;
}

.event .event-img .event-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(245, 197, 24, 0.7);
    border-radius: 8px;
    transition: 0.5s;
    opacity: 0;
    z-index: 1;
}

.event .event-img:hover .event-overlay {
    opacity: 1;
}



h4,
h5,
h6,
.h4,
.h5,
.h6 {
    font-weight: 600 !important;
    font-family: 'Open Sans', sans-serif !important;
}

h4,
.h4 {
    font-size: 14px;
}

/*** Events End ***/



/*** Button ***/
.btn {
    transition: .5s;
    font-weight: 500;
}

.btn-primary,
.btn-outline-primary:hover {
    color: var(--dark);
}

.btn-secondary,
.btn-outline-secondary:hover {
    color: var(--dark);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.sticky-top {
    position: sticky !important;
    top: 0 !important;
    z-index: 1020 !important;
    transition: .5s;
}

.navbar .navbar-brand {
    position: absolute;
    padding: 0;
    width: 250px;
    height: 100px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.navbar .navbar-brand img {
    max-height: 110px;
    width: auto;
}

.navbar .navbar-brand img:last-child {
    max-height: 80px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 35px;
    padding: 25px 0;
    color: var(--primary);
    font-weight: 600;
    text-transform: uppercase;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: white;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-brand {
        position: absolute;
        width: 180px;
        height: 100px;
        top: 0;
        left: 0;
        transform: none;
    }

    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        margin-top: 115px;
        border-top: 1px solid #EEEEEE;
    }

    .navbar-toggler {
        margin-top: 25px;
    }

    .navbar-toggler {
        background-color: var(--primary) !important;
        border: none !important;
        border-radius: 10px !important;
        padding: 5px 10px !important;
    }

    /* Hide hero text on mobile */
    .header-carousel .carousel-caption {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/* Menu Button Styling */
.navbar-nav .nav-link.btn-menu {
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px 20px !important;
    background: transparent;
    transition: all 0.3s ease;
    color: #ffffff !important;
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link.btn-menu:hover {
    background: #ffffff;
    color: var(--primary) !important;
}

.navbar-nav .nav-link.btn-menu:active {
    animation: menu-pulse 0.4s ease-out;
}

@keyframes menu-pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
        transform: scale(0.95);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@media (max-width: 991.98px) {
    .navbar-nav .nav-link.btn-menu {
        margin-left: 0;
        margin-top: 10px;
        display: inline-block;
        width: fit-content;
    }
}


/*------------------------------------------------------------------
    Contact info
-------------------------------------------------------------------*/

.contact-imfo-box {
    background: var(--primary);
    padding: 30px 0;
    border-radius: 100px;
}

.overflow-hidden {
    overflow: hidden;
}

.contact-imfo-box i {
    display: block;
    float: left;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #fff;
    color: #88B44E;
    font-size: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    margin-right: 20px;
}

.contact-imfo-box h4 {
    margin: 0px;
    margin-top: 5px;
    color: var(--dark);
    font-size: 20px;
    padding: 0px;
    font-weight: 500;
    line-height: 24px;
}

.contact-imfo-box p {
    margin: 0px;
    color: var(--dark);
    font-weight: 300;
}

/*------------------------------------------------------------------
    Footer
-------------------------------------------------------------------*/



/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4));
    z-index: 1;
}

.header-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 45px;
    top: 50%;
    left: 0;
    padding: 0 45px;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 2;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-next {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    color: var(--dark);
    background: var(--primary);
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--dark);
    color: #FFFFFF;
}


.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 3.5rem;
    background-color: var(--dark);
    border: 15px solid var(--dark);
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }

    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* 
.page-header {
    background: linear-gradient(rgba(136, 180, 78, .7), rgba(136, 180, 78, .7)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
} */

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-size: 18px;
    color: var(--light);
}


.page-headerveg {
    background: url(../img/vegmenu.jpg) center center no-repeat;
    background-size: cover;
}





.page-headerblog {
    background: url('../img/aboutimg2.4.jpg') no-repeat center center fixed;
    background-size: cover;
}

.page-headerblog .breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}

.page-headerblog .breadcrumb-item,
.page-headerblog .breadcrumb-item a {
    font-size: 18px;
    color: var(--light);
}


.page-headercontact {
    background: url('../img/Designer.png') no-repeat center center fixed;
    background-size: cover;

}

.page-headercontact .breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}

.page-headercontact .breadcrumb-item,
.page-headercontact .breadcrumb-item a {
    font-size: 18px;
    color: var(--light);
}









/*** Section Title ***/
.section-title {
    position: relative;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: var(--primary);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    bottom: -13px;
    left: calc(25% - 13px);
    background: var(--dark);
    border: 10px solid #FFFFFF;
    border-radius: 28px;
}

.section-title.text-center::before {
    left: 25%;
}

.section-title.text-center::after {
    left: calc(50% - 13px);
}


/*** Products ***/
.product {
    background: linear-gradient(rgba(245, 197, 24, .1), rgba(245, 197, 24, .1)), url(../img/product-bg.png) left bottom no-repeat;
    background-size: auto;
}

.product-carousel .owl-nav {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.product-carousel .owl-nav .owl-prev,
.product-carousel .owl-nav .owl-next {
    margin: 0 10px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 55px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .15);
    font-size: 25px;
    transition: .5s;
}

.product-carousel .owl-nav .owl-prev:hover,
.product-carousel .owl-nav .owl-next:hover {
    background: #FFFFFF;
    color: var(--primary);
}


/*** About ***/
.video {
    background: linear-gradient(rgba(245, 197, 24, .85), rgba(245, 197, 24, .85)), url(../img/video-bg.jpg) center center no-repeat;
    background-size: cover;
}

.btn-play {
    position: relative;
    display: block;
    box-sizing: content-box;
    width: 65px;
    height: 75px;
    border-radius: 100%;
    border: none;
    outline: none !important;
    padding: 28px 30px 30px 38px;
    background: #FFFFFF;
}

.btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 120px;
    height: 120px;
    background: #FFFFFF;
    border-radius: 100%;
    animation: pulse-border 1500ms ease-out infinite;
}

.btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 120px;
    height: 120px;
    background: #FFFFFF;
    border-radius: 100%;
    transition: all 200ms;
}

.btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    left: 13px;
    border-left: 40px solid var(--primary);
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
        opacity: 0;
    }
}

.modal-video .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

.modal-video .modal-body {
    position: relative;
    padding: 0px;
}

.modal-video .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #FFFFFF;
    background: #000000;
    opacity: 1;
}


/*** Store ***/
.store-item .store-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(245, 197, 24, .3);
    opacity: 0;
    transition: .5s;
}

.store-item:hover .store-overlay {
    opacity: 1;
}


/*** Contact ***/
.contact .btn-square {
    width: 100px;
    height: 100px;
    border: 20px solid var(--light);
    background: var(--primary);
    border-radius: 50px;
}


/*** Testimonial ***/
.testimonial {
    background: url("../img/healty-food-cartoon-representing-some-funny-vegetables-74188881.webp") center center no-repeat;
    background-size: cover;
}

.testimonial-item {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    background: #FFFFFF;
    border: 30px solid var(--primary);
}

.testimonial-item img {
    width: 60px !important;
    height: 60px !important;
    border-radius: 60px;
}

.testimonial-carousel .owl-dots {
    margin-top: 35px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--dark);
}


/*** Footer ***/
.footer {
    color: #ffffff;
    background-color: #198754 !important;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #ffffff;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ffffff;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--light);
    letter-spacing: 1px;
    box-shadow: none;
}

.copyright {
    color: #ffffff;
}

.copyright {
    background: #252525;
}

.footer .text-primary {
    color: #ffffff !important;
}

.copyright a {
    color: #ffffff !important;
}

.copyright a:hover {
    color: #FFFFFF !important;
}

.footer .btn-square {
    background: transparent !important;
    border: 1px solid #ffffff !important;
    color: #ffffff !important;
}

.spamclass {
    color: #88b44e;
    font-weight: bold;
}


.display-5 {
    font-size: 20px;
    font-weight: 900;
    line-height: 1.2;
    font-family: "Playfair Display", serif;
}

.recent-box-blog {
    margin-bottom: 20px;
    display: inline-block;
}

.recent-img {
    float: left;
    position: relative;
}

.recent-info {
    display: table-cell;
    vertical-align: top;
    padding-left: 15px;
}

.right-side-blog h3 {
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 20px;
}

.blog-categories {
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.blog-search-form {
    position: relative;
    border-bottom: 1px solid #010101;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.k {
    text-align: justify;
}

.ss {
    border-radius: 55px;
}

.whatsapp {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 999;
    animation: round 5s linear infinite;
}

.whatsapp a i {
    font-size: 35px;
    background-color: green;
    border-radius: 50%;
    padding: 10px;
    animation: round 2s linear infinite;
}

/* Custom Responsiveness Fixes */
@media (max-width: 768px) {
    .display-3 {
        font-size: 2.5rem !important;
    }

    .display-5 {
        font-size: 1.8rem !important;
    }

    .carousel-caption {
        padding-top: 2rem !important;
    }

    .event .tab-class .nav {
        margin-bottom: 2rem !important;
    }

    .service .service-item {
        margin-bottom: 20px;
    }
}

.ho {
    height: 600px;
}

/* Footer Logo Proportions */
.footer .navbar-brand {
    width: 250px;
    height: auto;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.footer .navbar-brand img {
    max-height: 100px;
    width: auto;
}

.footer .navbar-brand img:last-child {
    max-height: 90px;
}

/* Service Sidebar Styles */
.service-sidebar {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    background-color: #198754;
    border-radius: 0 10px 10px 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    padding: 10px 0;
}

.service-sidebar a {
    display: flex;
    align-items: center;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
    width: 60px;
    /* Collapsed width */
    overflow: hidden;
    white-space: nowrap;
}

.service-sidebar a:hover {
    width: 260px;
    /* Expanded width */
    background-color: #FFC107;
    /* Gold */
    color: #000;
}

.service-sidebar a i {
    font-size: 24px;
    min-width: 30px;
    text-align: center;
    margin-right: 15px;
}

.service-sidebar a span {
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.2s ease 0.1s;
}

.service-sidebar a:hover span {
    opacity: 1;
}

/* Hide on mobile and show original logic if needed, or just hide */
/* Adjust for mobile but keep visible */
@media (max-width: 991.98px) {
    .service-sidebar {
        /* display: none; Remove this to show on mobile */
        padding: 5px 0;
        width: 50px;
        /* Slightly smaller container width if needed mechanism */
    }

    .service-sidebar a {
        padding: 10px;
        width: 50px;
    }

    .service-sidebar a i {
        font-size: 20px;
        margin-right: 10px;
    }

    .service-sidebar a:hover,
    .service-sidebar a:active,
    .service-sidebar a:focus {
        width: 200px;
        /* Smaller expansion width on mobile */
    }
}